<section id = "about">
    <div class = "row">
        <div class = "nine columns main-col">
            <h2>About</h2>
            <p>{{resumeData.main.bio}}</p>
            <div class = "row">
                <div class = "columns contact-details">
                    <h2>Contact Details</h2>
                    <p class = "address">
                        {{resumeData.main.name}}<br/>
                        {{resumeData.main.address.street}}<br/>
                        {{resumeData.main.address.province}}<br/>
                        {{resumeData.main.address.zip}}<br/>
                        {{resumeData.main.phone}}<br/>
                        {{resumeData.main.email}}
                    </p>
                </div>
             <div class = "columns download">
                
             </div>
          </div>
        </div>
        <div class = "three columns">
            <img class = "profile-pic"  src = "../../../assets/images/me.jpg" alt = "Cameron Jude Luyt Profile picture"/>
            <p>
                <a href = "../../../assets/CAMERON.docx" class = "button"><i class = "fa fa-download"></i>Download CV</a>
            </p>
            <div>
                <h2>Hobbies</h2>
                <div class = "hobbies">
                    <div><i class = "fas fa-gamepad"></i> Gaming</div>
                    <div><i class = "fas fa-camera"></i> Photography</div>
                    <div><i class = "fas fa-headphones"></i> Music</div>
                    <div><i class = "fas fa-guitar"></i> Playing guitar</div>
                </div>
            </div>
        </div>
    </div>
</section>